<div class="card-user card w-100 mt-4" style="width: 18rem;">
  <div class="card-body">
    <div class="d-flex">
      <div class="text-center mr-4">
        <div class="card-user-photo mt-4">
          <img src="../../../../assets/images/mock/user-1.jpg" alt="">
        </div>
        <div class="review-link mt-2">
          <a href="#">View profile & review</a>
        </div>
        <div class="card-user-action mt-2 text-center">
          <button
            [routerLink]="['/tasks/book/schedule']"
            type="button" 
            class="btn btn-primary">Select & Continue</button>
        </div>
      </div>
     
      <div class="card-user-details mt-4">
        <div class="d-flex">
          <div class="card-user-name">
            <h5>Bertwin Romero</h5>
            <div>5 Yard Work & Removal Tasks</div>
            <div>100% Positive Reviews</div>
          </div>
          <div class="card-user-rate">
            <h5>Php 350/day</h5>
          </div>  
        </div>
        <hr>
        <div class="card-user-experience">
          <div class="mt-2">
            <strong>How I can help you:</strong>
          </div>
          Currently I care for two large butterfly gardens, the one at home also attracting several types of hummingbirds. I have my own gardening tools, and an SUV that I can load up with more then most would expect.
        </div>
        <div class="card-user-comment d-flex mt-4">
          <div class="card-user-comment-photo mr-4">
            <img src="../../../../assets/images/mock/user-2.jpg" alt="">
          </div>
          <div class="card-user-comment-content">
            <div class="font-italic">
              "Diego was very patient and kind with my situation. Did an awesome job"
            </div>
            <div>
              Alexis S. - December 11, 2019
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>