<div class="task-list-wrapper">
  <ul class="task-list-ul">
    <li class="task-action mr-2 mb-2">
      <a [routerLink]="['/tasks/book/description']">
        <app-ui-button-outline [title]="'Plumbing'" [class]="'primary'"></app-ui-button-outline>
      </a>
    </li>
   <li class="task-action mr-2 mb-2">
     <a [routerLink]="['/tasks/book/description']">
      <app-ui-button-outline [title]="'Carpentry'" [class]="'primary'"></app-ui-button-outline>
    </a>
    </li>
    <li class="task-action mr-2 mb-2">
      <a [routerLink]="['/tasks/book/description']">
        <app-ui-button-outline [title]="'Aircon Repair'" [class]="'primary'"></app-ui-button-outline>
      </a>
    </li>
    <li class="task-action mr-2 mb-2">
      <a [routerLink]="['/tasks/book/description']">
        <app-ui-button-outline [title]="'Aircon Cleaning'" [class]="'primary'"></app-ui-button-outline>
      </a>
    </li>
    <li class="task-action mr-2 mb-2">
      <a [routerLink]="['/tasks/book/description']">
        <app-ui-button-outline [title]="'Aircon Installation'" [class]="'primary'"></app-ui-button-outline>
      </a>
    </li> 
    <li class="task-action mr-2 mb-2">
      <a [routerLink]="['/tasks/book/description']">
        <app-ui-button-outline [title]="'Gardening Service'" [class]="'primary'"></app-ui-button-outline>
      </a>
    </li>
    <li class="task-action mr-2 mb-2">
      <a [routerLink]="['/tasks/book/description']">
        <app-ui-button-outline [title]="'Auto Repair'" [class]="'primary'"></app-ui-button-outline>
      </a>
    </li>
    <li class="task-action mr-2 mb-2">
      <a [routerLink]="['/tasks/book/description']">
        <app-ui-button-outline [title]="'Moving'" [class]="'primary'"></app-ui-button-outline>
      </a>
    </li>
  </ul>
</div>