<div class="auth-signup-client-container mt-4">
  <form>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="firstname">First name</label>
          <input type="text" class="form-control" id="firstname" placeholder="John">
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="lastname">Last name</label>
          <input type="text" class="form-control" id="lastname" placeholder="Doe">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
      </div>
    </div>
    
    <div class="submit-container w-100 text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>