<div class="task-description">
  <app-task-title
    [title]="'Describe your task'"
    [step]="'1'"
  ></app-task-title>
  <div class="task-book-title">
    Tell us about your task. We use these details to show Taskers in your area who fit your needs.
  </div>
  <h5 class="mt-4">
    <strong>Carpentry</strong>
  </h5>
  <a href="#">Pick another tasks</a>
  <div class="mt-4">
    <app-task-interest></app-task-interest>
    <app-task-location></app-task-location>
    <app-task-options></app-task-options>
    <app-task-summary></app-task-summary>
  </div>
</div>