<div class="skills-checklist-container">
  <div class="row">
    <div class="col-sm-3">
      <app-ui-checkbox
        [title]="'Plumbing'"
        [id]="'defaultUnchecked1'"
      ></app-ui-checkbox>
    </div>
    <div class="col-sm-3">
      <app-ui-checkbox
        [title]="'Carpentry'"
        [id]="'defaultUnchecked2'"
      ></app-ui-checkbox>
    </div>
    <div class="col-sm-3">
      <app-ui-checkbox
        [title]="'Aircon Repair'"
        [id]="'defaultUnchecked3'"
      ></app-ui-checkbox>
    </div>
    <div class="col-sm-3">
      <app-ui-checkbox
        [title]="'Aircon Installation'"
        [id]="'defaultUnchecked4'"
      ></app-ui-checkbox>
    </div>
    <div class="col-sm-3">
      <app-ui-checkbox
        [title]="'Aircon Cleaning'"
        [id]="'defaultUnchecked5'"
      ></app-ui-checkbox>
    </div>
    <div class="col-sm-3">
      <app-ui-checkbox
        [title]="'Gardening Service'"
        [id]="'defaultUnchecked6'"
      ></app-ui-checkbox>
    </div>
    <div class="col-sm-3">
      <app-ui-checkbox
        [title]="'Moving'"
        [id]="'defaultUnchecked7'"
      ></app-ui-checkbox>
    </div>
  </div>
</div>